body{
    background: rgb(235, 222, 222);
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
}

.icon{
   width: 100px;
   border-radius: 50%;
   position: relative; 
   bottom: 50px;
   margin-bottom: -50px;

}